@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;9006display=swap');

.header {

    padding: 10px;
    background: #FFFFFF;
    height: 55px;
    border-bottom: 1px solid #9d9d9d;
    box-sizing: border-box;
    
}
.icon-header{
    color: #0C447C;

}

.header h2 svg{
    color: #0C447C;
    font-size: 20px;
}

.header h2{
    display: flex;
    font-size: 20px;
    margin-top: 5px;
    font-family:'Roboto', sans-serif;
    align-items: center;

    gap: 10px;
}