

    :root{
        --cinza_titlecard: #555;
        --bordacinza:#C9C3C3;
        --verde_iconcard: #10b981;
        --medio_verdbacgroudiconcard: #ecfdf5;
        --preto: rgb(0, 0, 0);
        --azul: #015AB4;
        --medio_azulbacgroundiconcard: #CADFF4;
        --castanho: #8B6129;
        --medio_castanhobacgroundiconcard: #eccead;
        --vermelho: #E24B4A;
        --medio_vermelhobacgroundiconcard: #eec3c3;
    }