@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;9006display=swap');

body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
    color:#140101;
}
.main-wrapper {
    margin-left: 290px; /* largura da navbar */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-header {
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    z-index: 100;
    background: white;
}

.page-content {
    margin-top: 55px; /* altura do header */
    padding: 20px;
}

.icon-voo{
  margin-left: -10px;
}